<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="DsLinePackages" value="https://nuget.pkg.github.com/DsLine-Microservices/index.json" />
        <add key="Package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <DsLinePackages>
            <add key="Username" value="DsLineGitHub2001" />
     	    <add key="ClearTextPassword" value="0503e561e17a4d622e21a7c80c92dcb1f50b2537" />
        </DsLinePackages>
    </packageSourceCredentials>
</configuration>